
body{
    background-color: rgb(255, 255, 255);
    border: solid yellowgreen;
  }
  
  header{
    padding: 20px;
  }
  
  nav{
    padding: 40px;
    float:right;
  }
  
  h1{
    outline: auto rgb(185, 44, 44) ;
   color: rgb(9, 8, 119);
    text-align: center;
  }
  
  hero-image {
    background-image: linear-gradient(rgba(99, 22, 22, 0.5), rgba(0, 0, 0, 0.5)), url("photographer.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(103, 31, 112);
  }
  
  #Java {
    display: flex;
    border-bottom: solid black;
  }
  #Pro {
    display: flex;
    justify-content: space-around;
  }
  #table{
    border-spacing: 0px;
    border: solid royalblue 1px;
    height: 200px;
    width: 200px;
  }
  #js{
    border: solid royalblue 1px;
  }
  #numb{
    border: solid royalblue 1px;
    padding:5px;
    height: 90px;
      width: 100px;
  }
  #main {
      display: flex;
      justify-content: center;
      justify-content: space-around;
  }
  #js{
      text-align: center;
      height: 90px;
      width: 100px;
  }
  #div1 {
    display: flex;
    justify-content: center;
  }
  #div2 {
    display: flex;
    justify-content: space-around;
    border-top: black solid;
    border-bottom: solid black;
  }
  a {
  margin-left: 200px;
  }